body {
    background: white;
    margin: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-auto-rows: 60px;
    gap: 15px;
}

.box {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

#a {
    border-radius: 0px 0px 50px 0px;
}

#b {
    border-radius: 50px 0px 0px 0px;
}

#c {
    border-radius: 20px;
}

#d {
    border-radius: 50px 0px 50px 0px;
}

#e {
    border-radius: 0;
}

#f {
    width: 60px;
    border-radius: 50px;
}

#g {
    border-radius: 20px 0px 50px 20px;
}

